@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.ttf?fyw21i") format("truetype"), url("../fonts/icons.woff?fyw21i") format("woff"), url("../fonts/icons.svg?fyw21i#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-basketball:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-view:before {
  content: "";
}

.icon-comments:before {
  content: "";
}

.icon-alarm:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-book-2:before {
  content: "";
}

.icon-bullseye:before {
  content: "";
}

.icon-computer-ok:before {
  content: "";
}

.icon-equalizer:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-image:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-line-graph:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-shopping-cart:before {
  content: "";
}

.icon-speech-4:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-users:before {
  content: "";
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* SECTION */
.section {
  padding: 100px 0;
}
.section__row {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}
.section__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  margin-bottom: 23px;
}
.section__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.section__title:after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  margin: 40px auto 66px;
}
.section__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #999;
  margin-bottom: 100px;
}
.section_background-1 {
  padding: 100px 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85))), url(../img/bg-1.webp) center/cover no-repeat;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85)), url(../img/bg-1.webp) center/cover no-repeat;
}
.section_background-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85))), url(../img/bg-2.webp) center/cover no-repeat;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85)), url(../img/bg-2.webp) center/cover no-repeat;
}
.section_background-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.85))), url(../img/bg-3.webp) center/cover no-repeat;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.85)), url(../img/bg-3.webp) center/cover no-repeat;
}

/* LOGO */
.logo {
  font-size: 30px;
  font-weight: 700;
}

/* BUTTON */
.button {
  font-size: 14px;
  font-weight: 700;
  border: 3px solid #fff;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  -webkit-transition: background-color linear 0.3s, color linear 0.3s;
  transition: background-color linear 0.3s, color linear 0.3s;
}
.button:hover {
  background-color: #fff;
  color: #000;
}

/* HEADER */
.header {
  padding: 40px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #fff;
}
.header--fixed {
  position: fixed;
  padding: 20px 0px 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}
.header__logo {
  z-index: 2;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding: 0 0 20px;
}
.header__burger {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  margin: 0 25px 0 0;
  position: relative;
  -webkit-transition: color linear 0.3s;
  transition: color linear 0.3s;
}
.header__link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  width: 100%;
  z-index: 1;
  background-color: #fce38a;
  opacity: 0;
  -webkit-transition: opacity linear 0.3s;
  transition: opacity linear 0.3s;
}
.header__link:hover:after, .header__link:hover {
  opacity: 1;
  color: #fce38a;
}

/* BANNER */
.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), color-stop(rgba(252, 227, 138, 0.9)), to(rgba(252, 207, 138, 0.9))), url(../img/banner.webp) center/cover no-repeat;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9), rgba(252, 207, 138, 0.9)), url(../img/banner.webp) center/cover no-repeat;
  color: #fff;
  padding: 0px 0px 230px;
}
.banner__row {
  padding: 20% 0px 0px;
  width: 100%;
}
.banner__content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 72px;
}
.banner__title {
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  position: relative;
  padding-bottom: 73px;
  margin-bottom: 51px;
}
.banner__title:after {
  content: "";
  display: block;
  background-color: #fff;
  height: 3px;
  width: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.banner__button {
  margin-bottom: 127px;
}

/* ABOUT */
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.about__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}

/* ITEM */
.item__background {
  background-color: #95e1d3;
}
.item__img {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__img img {
  max-width: 100%;
  width: 100%;
}
.item__overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__caption {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.item__icon {
  font-size: 30px;
  margin-bottom: 20px;
}
.item__icon_margin {
  margin-bottom: 11px;
}
.item__title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.item__title_bold {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 700;
}
.item__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  font-weight: 300;
}
.item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__list li {
  border-right: 1px solid #f9bd87;
}
.item__list :last-child {
  border: none;
}
.item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  font-size: 26px;
  color: #f38181;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.item__link:hover {
  color: #fff;
  background-color: #f38181;
  border: none;
}
.item:hover .item__img_transform {
  -webkit-transform: translate3d(-15px, -15px, 0);
          transform: translate3d(-15px, -15px, 0);
}
.item:hover .item__overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.9)), color-stop(rgba(252, 227, 138, 0.9)), to(rgba(252, 207, 138, 0.9)));
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9), rgba(252, 207, 138, 0.9));
}
.item:hover .item__caption {
  opacity: 1;
}

/* FACTS */
.facts {
  background-color: #95e1d3;
}
.facts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.facts__column {
  padding: 90px 0;
  color: #fff;
  width: 100%;
  border-right: 1px solid #fff;
}
.facts__column:first-child {
  border-left: 1px solid #fff;
}
.facts__column h2 {
  font-size: 72px;
  font-weight: 700;
}
.facts__column h3 {
  text-transform: uppercase;
}
.facts__nums {
  text-align: center;
}

/* SERVICES */
.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -34px;
}
.services__column {
  padding: 0 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 99px;
}
.services__column:nth-child(4) {
  margin-bottom: 0;
}
.services__column:nth-child(5) {
  margin-bottom: 0;
}
.services__column:nth-child(6) {
  margin-bottom: 0;
}
.services__icon {
  font-size: 32px;
  color: #95e1d3;
  margin-right: 27px;
}
.services__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.services__text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #999;
}

/* DESIGN */
.design__row {
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  position: relative;
}
.design__phone {
  position: absolute;
  bottom: -15.75%;
  right: -22%;
}

/* wedo */
.wedo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wedo__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-right: 50px;
}
.wedo__image img {
  width: 100%;
}
.wedo__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

/* faq */
.faq-item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.faq-item :last-child {
  margin-bottom: 0px;
}
.faq-item--active .faq-content {
  display: block;
}
.faq-item--active .faq-trigger::before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.faq-item--active .faq-trigger::after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.faq-trigger {
  text-transform: uppercase;
  padding: 25px 0px 25px 61px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.faq-trigger i {
  position: absolute;
  left: 4%;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  font-size: 30px;
  color: #95e1d3;
}
.faq-trigger::before, .faq-trigger::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.faq-trigger::before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 15px;
}
.faq-trigger::after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 30px;
}
.faq-content {
  display: none;
  height: auto;
  max-height: 181px;
  overflow: auto;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #999;
  line-height: 24px;
  padding: 21px 0px 28px 20px;
}

/* QUOTE */
.quote {
  padding: 100px 0px;
}

/* QUOTE-SLIDER */
.quote-slider__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 75px;
}
.quote-slider__img {
  margin-right: 61px;
}
.quote-slider__img img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
}
.quote-slider__quote p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #999;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 23px;
}
.quote-slider__quote cite {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
  position: relative;
  padding-left: 70px;
}
.quote-slider__quote cite:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}
.quote-slider__arrow.swiper-button-prev, .quote-slider__arrow.swiper-button-next {
  color: #ccc;
}

/* OURTEAM */
.ourteam__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.ourteam__item {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

/* LOGOS */
.logos {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.logos__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px -20px;
}
.logos__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6666%;
          flex: 0 1 16.6666%;
  padding: 0px 20px;
}
.logos__item img {
  max-width: 100%;
}

/* WORKS */
.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* CLIENTS */
.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -43px;
}
.clients__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 43px;
  margin-bottom: 63px;
}
.clients__column:nth-child(3) {
  margin-bottom: 0;
}
.clients__column:nth-child(4) {
  margin-bottom: 0;
}
.clients__img {
  margin-right: 30px;
  width: 110px;
  height: 110px;
}
.clients__img img {
  border-radius: 50%;
}
.clients__title {
  margin-bottom: 15px;
  text-transform: uppercase;
}
.clients__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 17px;
  margin-bottom: 24px;
  position: relative;
}
.clients__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 3px;
  width: 60px;
  background-color: #f38181;
}
.clients p {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

/* BLOG */
.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__row :last-child {
  margin-right: 0;
}
.blog__column {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blog__img {
  position: relative;
  margin-bottom: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
}
.blog__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.blog__data {
  position: absolute;
  top: 68%;
  left: -2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  max-width: 60px;
  max-height: 70px;
  background-color: #95e1d3;
  color: #fff;
}
.blog__num {
  font-weight: 700;
  font-size: 30px;
}
.blog__month {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-transform: capitalize;
}
.blog__title {
  color: #333;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.blog__title:hover {
  text-decoration: underline;
}
.blog__text {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #999;
  margin-bottom: 40px;
}
.blog__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__views, .blog__comments {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.blog__views {
  margin-right: 18px;
}
.blog__views .icon-view, .blog__comments .icon-comments {
  margin-right: 10px;
  color: #95e1d3;
}

/* MAP */
.map__row {
  text-align: center;
}
.map__row .icon-map-marker {
  font-size: 26px;
  color: #f38181;
}
.map__title {
  color: #f38181;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 18px;
  position: relative;
  padding-bottom: 21px;
}
.map__title::after {
  content: "";
  display: block;
  height: 3px;
  width: 60px;
  background-color: #f38181;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* Footer */
.footer {
  padding-top: 74px;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 70px;
}
.footer__col--first {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.footer__col--second {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}
.footer__col--third {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
}
.footer__title {
  margin: 6px 0 40px;
  text-transform: uppercase;
}
.footer__logo {
  color: #ccc;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 42px;
}
.footer__text {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: #999;
  margin-bottom: 49px;
}

/* Footer-blogs */
.footer-blogs__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}
.footer-blogs__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  margin-right: 20px;
}
.footer-blogs__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-blogs__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.footer-blogs__title {
  font-size: 12px;
  line-height: 18px;
  color: #333;
  text-transform: uppercase;
}
.footer-blogs__title:hover {
  text-decoration: underline;
}
.footer-blogs__data {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
  color: #ccc;
}

/* Footer-social */
.footer-social {
  margin-bottom: 39px;
}
.footer-social__header {
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.footer-social__header span {
  font-size: 18px;
  font-weight: 700;
}
.footer-social__content {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #999;
  margin-bottom: 39px;
}
.footer-social__link {
  color: #95e1d3;
  font-size: 16px;
  margin-left: 15px;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
.footer-social__link:hover {
  color: #6aa399;
}

/* Footer-instagram */
.footer-instagram__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1px -1px 20px;
}
.footer-instagram__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  max-width: 88px;
  padding: 1px;
}
.footer-instagram__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-instagram a {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  line-height: 24px;
  color: #333;
}

/* copyright */
.copyright {
  text-align: center;
  padding: 24px 0;
}
.copyright span {
  color: #f38181;
}

/* Subscribe */
.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
}
.subscribe__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  height: 40px;
  padding: 12px;
  border: 1px solid #e7e7e7;
  border-right: none;
  -webkit-transition: border 0.3s linear 0s;
  transition: border 0.3s linear 0s;
}
.subscribe__input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
  vertical-align: middle;
  line-height: 1.1;
  padding: 12px;
}
.subscribe__input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
  vertical-align: middle;
  line-height: 1.1;
  padding: 12px;
}
.subscribe__input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
  vertical-align: middle;
  line-height: 1.1;
  padding: 12px;
}
.subscribe__input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
  vertical-align: middle;
  line-height: 1.1;
  padding: 12px;
}
.subscribe__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  color: #ccc;
  vertical-align: middle;
  line-height: 1.1;
  padding: 12px;
}
.subscribe__input:focus {
  border: 1px solid #95e1d3;
  border-right: none;
}
.subscribe__input:focus::-webkit-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::-moz-placeholder {
  color: transparent;
}
.subscribe__input:focus:-ms-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::-ms-input-placeholder {
  color: transparent;
}
.subscribe__input:focus::placeholder {
  color: transparent;
}
.subscribe__submit {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #95e1d3;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}
.subscribe__submit:hover {
  background-color: #6aa399;
}

/* up-button */
.up-button {
  position: fixed;
  top: 80%;
  left: 90%;
  z-index: 3;
  font-size: 20px;
  display: none;
}
.up-button i {
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 2%;
  border: 3px solid #000;
  border-radius: 50%;
}
.up-button--shown {
  display: block;
}

/* media */
@media (max-width: 1200px) {
  /* container */
  .container {
    max-width: 900px;
  }
}
@media (max-width: 968px) {
  /* container */
  .container {
    max-width: none;
    padding: 0 15px;
  }

  /* about */
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__item {
    max-width: 410px;
    padding: 0px;
    margin-bottom: 30px;
  }

  /* services */
  .services__row {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__column {
    padding: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    max-width: 320px;
  }

  /* quote-slider */
  .quote-slider__img {
    margin-right: 40px;
  }
  .quote-slider__img img {
    max-width: 180px;
    max-height: 180px;
  }
  .quote-slider__quote p {
    font-size: 18px;
    line-height: 28px;
  }
  .quote-slider__quote cite {
    font-size: 18px;
  }

  /* ourteam */
  .ourteam__row {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ourteam__item {
    padding: 0;
    margin-bottom: 30px;
    max-width: 380px;
  }

  /* works */
  .works__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  /* clients */
  .clients__row {
    margin: 0px -10px;
  }
  .clients__column {
    padding: 0px 10px;
  }

  /* blog */
  .blog__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog__column {
    max-width: 380px;
    margin: 0px 0px 20px;
  }

  /* footer */
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col {
    margin: 0px 0px 20px;
    max-width: 340px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  /* header */
  .header__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 2;
    width: 30px;
    height: 20px;
  }
  .header__burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__list li {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }

  /* banner */
  .banner__suptitle {
    font-size: 42px;
  }
  .banner__title {
    font-size: 120px;
  }

  /* design */
  .design__row {
    max-width: 420px;
  }
  .design__display {
    max-width: 377px;
  }
  .design__phone {
    max-width: 220px;
    bottom: -17%;
    right: -22%;
  }

  /* logos */
  .logos__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -10px -20px;
  }
  .logos__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10px 0px;
  }

  /* quote */
  .quote {
    padding: 40px 0px;
  }

  /* quote-slider */
  .quote-slider__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .quote-slider__img {
    margin: 0px 0px 20px;
  }

  /* logos */
  .logos {
    padding: 20px 0px;
  }
  .logos__row {
    margin: 0px -10px;
  }
  .logos__item {
    padding: 0px 10px;
  }

  /* wedo */
  .wedo__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wedo__image {
    width: 100%;
    margin-bottom: 20px;
  }

  /* clients */
  .clients__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
  .clients__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 500px;
    padding: 0px;
    margin: 0px 0px 50px;
  }
  .clients__column:nth-child(3) {
    margin-bottom: 50px;
  }
  .clients__column:nth-child(4) {
    margin-bottom: 50px;
  }
}
@media (max-width: 624px) {
  /* banner */
  .banner__row {
    padding: 30% 0px 0px;
  }
  .banner__suptitle {
    font-size: 32px;
  }
  .banner__title {
    font-size: 100px;
    line-height: 100px;
    padding-bottom: 43px;
    margin-bottom: 51px;
  }

  /* facts */
  .facts__column {
    padding: 60px 0px;
  }
  .facts__column h2 {
    font-size: 44px;
  }
  .facts__column h3 {
    font-size: 13px;
  }

  /* design */
  .design__row {
    max-width: 320px;
  }
  .design__display {
    max-width: 277px;
  }
  .design__phone {
    max-width: 165px;
    bottom: -18%;
    right: -19%;
  }
}
@media (max-width: 524px) {
  /* banner */
  .banner__row {
    padding: 40% 0px 0px;
  }
  .banner__suptitle {
    font-size: 24px;
  }
  .banner__title {
    font-size: 60px;
    line-height: 80px;
    padding-bottom: 43px;
    margin-bottom: 51px;
  }

  /* services */
  .services__row {
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__column {
    padding: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 320px;
    margin-bottom: 50px;
  }
  .services__column:nth-child(4) {
    margin-bottom: 50px;
  }
  .services__column:nth-child(5) {
    margin-bottom: 50px;
  }
  .services__column:nth-child(6) {
    margin-bottom: 50px;
  }
  .services__column:last-child {
    margin: 0px;
  }

  /* works */
  .works__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  /* quote-slider */
  .quote-slider__quote p {
    font-size: 15px;
    line-height: 22px;
  }
  .quote-slider__quote cite {
    font-size: 13px;
  }

  /* design */
  .design__row {
    max-width: 220px;
  }
  .design__display {
    max-width: 200px;
  }
  .design__phone {
    max-width: 120px;
    bottom: -18%;
    right: -19%;
  }

  /* facts */
  .facts__column {
    padding: 60px 0px;
  }
  .facts__column h2 {
    font-size: 34px;
  }
  .facts__column h3 {
    font-size: 11px;
  }

  /* up-button */
  .up-button {
    left: 80%;
  }
}