$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e916";
$icon-tumblr: "\e917";
$icon-google-plus: "\e918";
$icon-basketball: "\e919";
$icon-map-marker: "\e915";
$icon-view: "\e913";
$icon-comments: "\e914";
$icon-alarm: "\e900";
$icon-arrow-left: "\e901";
$icon-arrow-right: "\e902";
$icon-book-2: "\e903";
$icon-bullseye: "\e904";
$icon-computer-ok: "\e905";
$icon-equalizer: "\e906";
$icon-facebook: "\e907";
$icon-home: "\e908";
$icon-image: "\e909";
$icon-instagram: "\e90a";
$icon-line-graph: "\e90b";
$icon-picture: "\e90c";
$icon-pinterest: "\e90d";
$icon-search: "\e90e";
$icon-shopping-cart: "\e90f";
$icon-speech-4: "\e910";
$icon-twitter: "\e911";
$icon-users: "\e912";

